/* Quick Section style Start */
.quick__section {
    background-color: grey;
    padding: 20px 0;

    .side-wrapper {
        justify-content: space-between;
        display: flex;
        align-items: center;
        row-gap: 20px;

        @include sm {
            flex-wrap: wrap;
        }

        .lefts {
            padding-right: 10px;

            @include min-sm {
                flex: 0 0 4;
            }

            h1 {}
        }

        .rights {
            @include min-sm {
                flex: 0 0 auto;
            }
        }
    }
}

/* Quick Call style END */