/* Header Default Start*/

header {
    .header-minimal {
        background: $white;
        align-items: center;
        display: flex;
        padding: 15px 0;
        @include transition;

        .menu-here {
            nav {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                flex-wrap: unset;
    
                #navbarNav { 
                    text-align: center;
                    flex-direction: column;
                    
                    .navbar-nav {
                        gap: 25px;
                        li {
                            color: $grey-color;
                            font-weight: 700;
                            font-size: 18px;
                            @include transition;
                            @include min-md {
                                display: flex;
                                align-items: center;
                            }
                            a {
                                column-gap: 10px;
                                @include min-md {
                                    display: flex;
                                    align-items: center;
                                }
                            }
                            &.current-menu-item {
                                color: $primary-color;
                            }
                        }
                    }
                    @include min-md {
                        flex: 1;
                    }
                    @include md {
                        width: 100%;
                        position: fixed;
                        top: 120px;
                        z-index: 9;
                        left: 0;
                        background: $white;
                        @include transition;
                        .navbar-nav {
                            padding: 20px 0;
                        }
                    }
                }
    
            }
        }
    }
}

/* Header Default End*/