/* Header with Menu from Rightside Start*/
header {
    .header-right-menu {
        background: $white;
        align-items: center;
        display: flex;
        padding: 15px 0;
        @include transition;
        .menu-here {
            nav {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                flex-wrap: unset;
                #navbarNav {
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                    display: flex;
                    flex: 1;
                    top: 0;
                    &:before {
                        @include md {
                            position: fixed;
                            height: 70px;
                            top: 0;
                            right: 0;
                            content: "";
                            width: 75%;
                            background-color: $white;
                            z-index: 1;
                            right: -80%;
                            transition: .2s ease-out;
                        }  
                        @include xs {
                            width: 100%;
                            right: -100%;
                        }
                    }
                    .navbar-nav {
                        column-gap: 20px;
                        row-gap: 20px;
                        li {
                            color: $black;
                            @include transition;
                            @include min-md {
                                display: flex;
                                align-items: center;
                            }
                            a {
                                column-gap: 10px;
                                @include min-md {
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                    @include min-md {
                        flex: 1;
                    }
                    // &.collapsing {
                    //     position: relative;
                    //     overflow: hidden;
                    //     height: 0;
                    //     transition: height .35s ease;
                    // }
                    @include md {
                        position: fixed;
                        display: flex;
                        right: -80%;
                        height: 100%;
                        width: 75%;
                        bottom: 0;
                        background: $white;
                        transition: .2s ease-out;
                        z-index: 12;
                        &.show {
                            right: 0 !important;
                            transition: .2s ease-in-out;
                            &:before {
                                right: 0 !important;
                                transition: .2s ease-in-out;
                            }
                        }
                    }
                    @include xs {
                        width: 100%;
                        right: -100%;
                    }
                }
            }
        }
    }
}

/* Header with Menu from Rightside End*/