/* Header with Announcement Start*/
header {
    @include md {
        width: 100%;
        overflow: hidden;
    }
    .topbar {
        position: relative;
        z-index: 1;
        height: 30px;
        background: $white;
        display: flex;
        align-items: center;

        .topbar-dir {
            gap: 20px;

            .rightside_head-btn {
                li {
                    select {
                        background: transparent;
                        color: $black;
                        font-size: 14px;
                        border: unset;

                        option {
                            color: $black;
                        }
                    }

                    .textwidget {
                        color: $white;
                        font-size: 14px;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: flex-end;
                gap: 20px;

                li {
                    a {
                        color: $black;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .header-w-announcementbar {
        background: $white;
        align-items: center;
        display: flex;
        padding: 10px 0;
        @include transition;

        nav {
            gap: 40px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;

            .collapsing {
                position: relative;
                overflow: hidden;
                height: 0;
                transition: height .35s ease;
            }

            #navbarNav {
                text-align: center;
                flex-direction: column;
                transition: .4s ease-in-out;

                @include md {
                    position: fixed;
                    background: $white;
                    width: 100%;
                    bottom: 0px;
                    height: 100% !important;
                    text-align: center;
                    flex-direction: column;
                    right: -101%;
                    transition: .2s ease-in-out;
                    display: flex;
                    justify-content: center;
                }

                .navbar-nav {
                    gap: 20px;
                    width: 100%;

                    li {
                        color: $black;
                        @include transition;
                    }
                }
            }

            .navbar-collapse.show {
                right: 0% !important;
                text-align: center;
                flex-direction: column;
                transition: .2s ease-in-out;
            }
        }
    }
}

/* Header with Announcement End*/