/*Archive page Start*/
.site-archive.archive-page {
    .archive-content {
        padding: 40px 0;

        .page-header {
            margin-bottom: 10px;

            .page-title {}
        }

        .articles {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            article {
                .entry-header {
                    .entry-title {
                        a {}
                    }
                }
            }
        }
    }
}

/*Archive page END*/