/* Variables START*/

$white: #fff;
$white-light: #f9f9f9;
$white-lighter: #f5f5f5;
$black: #000000;
$red: red;
$primary-color: #a02f33;
$primary-color-light: coral;
$secondary-color: #1a1e32;
$secondary-color-light: #000000a4;
$grey-color: #91939d;

@mixin transition {
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

@mixin filter-header {
    filter: brightness(.6);
}

@mixin button {
    width: 185px;
    height: 45px;
    border: 1px solid;
    border-color: transparent;
    color: $black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: box-shadow, transform;
    background-color: $primary-color;
    background-image: linear-gradient(to right, #d71219 0, $primary-color 51%, #d71219 100%);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(193, 255, 80, .14), 0 3px 1px -2px rgba(193, 255, 80, .2), 0 1px 5px 0 rgba(193, 255, 80, .12);
    background-size: 200% auto !important;
    white-space: nowrap;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), background-position .5s;

    &:hover {
        box-shadow: 0 14px 26px -12px #d71219, 0 4px 23px 0 rgba(0, 0, 0, .32), 0 8px 10px -5px #d71219;
        background-position: right center;
        background-color: #d71219;
        border-color: transparent;
    }
}

@mixin button-2 {
    //for this, background of section should be same as this background color
    background-color: #efefef;
    border: none;
    border-radius: 25px;
    padding: 2px 10px;
    color: $grey-color;
    box-shadow: -6px -6px 10px $white-light, 6px 6px 10px #00000026;
    transition: all .3s;
    &:hover {
        box-shadow: 2px 2px 2px $white-light, -2px -2px 2px #00000026;
    }    
}

/* Variables END*/